.nav {
  position: fixed;
  display: flex;
  top: 0;
  width: 100%;
  padding: 0px 60px;
  height: 55px;
  z-index: 1;
  justify-content: space-between;
  transition-timing-function: ease-in;
  transition: all 0.5s;
  color: white;
  font-size: 14px;

  background: linear-gradient(to top, transparent 0%, rgba(11, 11, 11, 1) 95%);
}
.container {
  padding: 8px 15px 8px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 35px;
}

.nav_logo {
  width: 90px;
  position: flex;
  left: 8px;
}
.nav_avatar {
  position: right;
  right: 20px;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  object-fit: cover;
  cursor: pointer;
}
.nav_black {
  background-color: #0b0b0b;
}

.left {
  display: flex;
  align-items: center;
  font-size: 14px;
}
.left_list {
  display: flex;
  cursor: pointer;
  margin-left: 20px;
  padding: 20px;
}
.li_lest {
  padding-right: 20px;
  cursor: pointer;
  list-style: none;
}
.right_list {
  display: flex;
  cursor: pointer;
  margin-top: 20px;

  justify-content: center;
}
.li_right {
  padding-right: 20px;
  cursor: pointer;
  list-style: none;
}
.avt {
  padding: 0;
}
.arrow {
  margin-top: 20px;
}
.child {
  padding-top: 4px;
}

.left span {
  margin-right: 20px;
  cursor: pointer;
}

.right {
  display: flex;
  position: absolute;
  align-items: right;
  float: right;
  right: 140px;
}
.icon {
  margin: 0px 12px;
  cursor: pointer;
}

.options hr {
  border: 0.5px solid whitesmoke;
}

.options {
  display: none;
  background-color: #0b0b0b;
}
.profile:hover .options {
  display: flex;
  background-color: #0b0b0b;
  flex-direction: column;
  position: absolute;
  right: 8px;
  padding-right: 30px;
  margin-top: 4px;
}
.right span {
  padding: 10px;
  cursor: pointer;
}
#child {
  padding-top: 7px;
  cursor: pointer;
}
Search {
  margin-right: 20px;
}
