* {
  margin: 0;
}
.app {
  background-color: #141414;

}
.top_row {
  padding-top: 10px;
}
.app::-webkit-scrollbar {
  display: none;
}

/* 
--primary: #141414;
--light: #F3F3F3;
--dark: 	#686868; */
